@tailwind base;
@tailwind components;
@tailwind utilities;

.prose-dark p {
  margin-bottom: 1em;
}

.prose-dark ul, .prose-dark ol {
  list-style-position: inside;
  margin-left: 1.5em;
  margin-bottom: 1em;
}

.prose-dark li {
  margin-bottom: 0.5em;
}

.prose-dark a {
  color: #22d3ee; /* cyan-400 */
  text-decoration: underline;
}

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 40% 96%;
    --card: 222 47% 15%;
    --card-foreground: 210 40% 96%;
    --popover: 222 47% 15%;
    --popover-foreground: 210 40% 96%;
    --primary: 199 89% 48%;
    --primary-foreground: 210 40% 96%;
    --secondary: 215 32% 24%;
    --secondary-foreground: 210 40% 96%;
    --muted: 215 32% 24%;
    --muted-foreground: 210 30% 80%;
    --accent: 217 33% 22%;
    --accent-foreground: 210 40% 96%;
    --destructive: 6 82% 55%;
    --destructive-foreground: 0 0% 100%;
    --border: 219 27% 24%;
    --input: 219 27% 24%;
    --ring: 199 89% 48%;
    --chart-1: 199 89% 48%;
    --chart-2: 187 74% 55%;
    --chart-3: 164 63% 47%;
    --chart-4: 36 92% 66%;
    --chart-5: 12 88% 62%;
    --radius: 0.5rem
  }
  .dark {
    --background: 222 47% 6%;
    --foreground: 210 40% 96%;
    --card: 222 47% 8%;
    --card-foreground: 210 40% 96%;
    --popover: 222 47% 8%;
    --popover-foreground: 210 40% 96%;
    --primary: 199 89% 52%;
    --primary-foreground: 222 47% 6%;
    --secondary: 215 32% 18%;
    --secondary-foreground: 210 40% 96%;
    --muted: 215 32% 18%;
    --muted-foreground: 210 30% 75%;
    --accent: 217 33% 18%;
    --accent-foreground: 210 40% 96%;
    --destructive: 5 74% 45%;
    --destructive-foreground: 0 0% 100%;
    --border: 216 34% 18%;
    --input: 216 34% 18%;
    --ring: 199 89% 52%;
    --chart-1: 199 89% 52%;
    --chart-2: 187 74% 58%;
    --chart-3: 164 63% 52%;
    --chart-4: 36 92% 60%;
    --chart-5: 12 88% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
